ol, ul {
  padding-left: 30px;
}

.center-board{
	justify-content: center
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.navbar{
	margin-bottom: 10px
}

.accordion-button:focus{
	box-shadow: none !important;
}

#sort-toggle{
	width: 80px;
	float: right;
}
#sort-toggle:focus{
	box-shadow: none;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.winning_square {
  background: lightgreen;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.label{background: #fff;
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}


